*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calculator{
    background-color: black;
    width:300px;
    height:400px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#display{
    color:white;
    flex:1;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    margin: 5px;
}
.row{
    flex:1;
    display: flex;
    margin:5px;
}
button{
    flex:1;
    height: 100%;
    border-radius: 50%;
    background-color: #666666;
    color: white;
    margin: 2px;
    font-size: 2rem;
}
.operator{
    background-color: #FF8C00;
}
#equals{
    background-color: #cccccc;
    border-radius: 25px;
    color: black;
}